<!DOCTYPE HTML>

<html>
{% load staticfiles %}
	<head>
		<title>Second Opinion HomePage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">SECOND OPINION</a>
				<nav>
					<a href="#menu">MENU</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					
					<li><a href="#aboutus">About Us</a></li>
					<li><a href="#footer">Contact Us</a></li>
					<li><a href="">Logout</a></li>
			
					
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>SECOND OPINION</h1>
					<p>Welcome to a platform where you can seek second<br />
					medical opinion over different subjects from our experts.</p>
				</div>
				<img src="images/t2.jpg"></img>
			</section>

		<!-- Highlights -->
			<section class="wrapper" id="aboutus">
				<div class="inner">
					<header class="special">
						<h2>About Us</h2>
						<p>Our platform offers second medical opinion to the patients who need instant suggestions and confirmations on their present treatment plans. Further, it allows the user to have a one to one interaction with the doctor (associated with us) via chat which in turn helps the patient to get an additional review on his problem and take decisions accordingly.At present, the departments where you can can seek a second opinion are listed below.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="cardiology.html" class="icon fa-heartbeat"><span class="label">Icon</span></a>
									<h3>Cardiology</h3>
								</header>
								<p>It includes any problems relating to the abnormalities and diseases of the heart as well as parts of the circulatory system.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="neurology.html" class="icon fa-plus-square"><span class="label">Icon</span></a>
									<h3>Neurology</h3>
								</header>
								<p>It deals with the diagnosis and treatment of conditions and diseases involving the central nervous system and the brain.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="nephrology.html" class="icon fa-user-md"><span class="label">Icon</span></a>
									<h3>Nephrology</h3>
								</header>
								<p>Nephrology concerns the diagnosis and treatment of kidney diseases, including electrolyte disturbances and hypertension.</p>
							</div>
						</section>
						
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper" style=" background-image: url(images/t6.jpg);padding-top: 30px; color: black; font-size: 1.5rem;">
				<div class="inner">
					<h2 style="color: black;">Our Services</h2>
					<p>Second Opinion has been launched as an attempt to provide second opinion to the patients in order to assist them in making tough decisions. However, it serves other purposes as well.It is a pltform where patients are looked after by experienced doctors at a minimal charge. Thus, it is cheap and further prevents the user from the pains of travelling to the doctor's clinic.In addition, it provides the user one to one interaction with the doctors within a time period of 24 hours.</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Users' Feedback</h2>
						<p>Our users are of prime importance to us and we appreciate each review as it helps us improve.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>An extremely helpful portal which helped me to realise my actual problem and further prevented me from the pains of a surgery.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/g1.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Mr.S.K Gupta</strong> <span>General Manager, Apex Bank, Bhopal.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Efficient system where I was able to get a second opinion with 12 hours of submitting my query and was able to make immediate decisions.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/g2.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Mrs. Sonal Suhane</strong> <span>Software Engineer, Accenture (Banglore)</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Saved me from the hastles of travelling and spending money to consult another doctor. It saved a lot of time and was cheap.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/g3.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Mr. Sarthak Chaudhary</strong> <span>Retail Shopkeeper, Raipur.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Disclaimer</h3>
							<p>The second opinion is entirely based on the information and documents provided by the user or patient. The doctor or this platform is not responsible in any case whatsoever as the doctor would be suggesting treatments only according to the details described. The purpose of this portal is only to seek advice from our experts so as to be assured of their on-going treatment plans. The users should comply for second opinion only after consulting a doctor in person.</p>
						</section>
						
						<section>
							<h4>Contact Us Via:</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-google-plus">&nbsp;</i>Google Plus</a></li>
							</ul>
						</section>
						<section>
							<h4>Contact us at:</h4>
							<ul class="alt">
								<li><i class="fa fa-phone" aria-hidden="true"></i> +91-8462000112</li>
								<li><i class="fa fa-phone-square" aria-hidden="true"></i> 0771-4042576</li>
								
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. SecondOpinion <a href="#">Second Opinion</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>